@import "includes";

@mixin line-clamp($amount: 1) {
  // https://css-tricks.com/almanac/properties/l/line-clamp/
  display: -webkit-box;
  -webkit-line-clamp: $amount;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Viewport {
  overflow-x: auto;
}

.Container {
  $section-min-width: 15rem;
  $section-max-width: 20rem;
  $section-spacing: $grid-gutter-width;

  @mixin generate-width($column-count) {
    width: 100%;
    min-width: calc(
      #{$column-count * $section-min-width} + #{($column-count - 1) *
        $section-spacing}
    );
    max-width: calc(
      #{$column-count * $section-max-width} + #{($column-count - 1) *
        $section-spacing}
    );
  }

  @for $i from 1 through 4 {
    &.SectionCount#{$i} {
      @include generate-width($i);
    }
  }
}

.SectionTitle {
  // https://css-tricks.com/almanac/properties/l/line-clamp/
  @include line-clamp(1);
}
