@import "../includes";

.Card {
  background-color: #ffefc1;
}

.CardContent {
  @include font-cursive();
  min-height: 2rem;
}

.CardContent :global(.Label) {
  @include label();
}

.CardUserAvatar {
  width: 1rem;
  height: 1rem;

  // Prevent alt text from overflowing the img component if image fails to load.
  overflow: hidden;
}
